.loginForm {
	border: 1px solid grey;
	width: 300px;
}

body {
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	width: 300px;
}

.error {
	color:red;
	font-weight: bold;
	padding-left: 25px;
}

h3 {
	padding-left: 75px;	
}